@import '~style/helpers';

.button{
    margin: 0 auto;
    font-size: 12px;
    display: block;
    background: #505150;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 200;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}