@import '~style/helpers';

.container {
	display: flex;
	flex-direction: column;
	color: #fff;
	width: 414px;
	height: 650px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}
body{
    font-family: 'Open Sans', sans-serif;
}